<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<%= link_to "New post", new_post_path %>

<h1 style="text-align: center;">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
